<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Calculator App Mobile">
  <parameter name="url" value="http://127.0.0.1:4723"/>
  <parameter name="deviceName" value="RR8T90084BR"/>
  <parameter name="expected" value="14"/>
  <test name="Firt My Test">
    <classes>
      <class name="com.yanwarsolah.calculator.CalculatorTest" />
    </classes>
  </test>
</suite>